[submodule "/home/ariel/.vim/bundle/colorschemes"]
	path = /home/ariel/.vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
